
/* 重置所有元素的边距和填充 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 使得边界包含在宽度内 */
}

/* 使得块级元素按照标准流方式显示 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* 保持图片垂直对齐 */
img {
  vertical-align: middle;
  max-width: 100%; /* 防止图片溢出其容器 */
}

/* 去除列表样式 */
ul,
ol {
  list-style: none;
}

/* a标签重置 */
a {
  text-decoration: none; /* 去除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  outline: none;
}

/* 清除表单元素的默认样式 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
}

/* 可选择输入框的样式 */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box; /* 保持和其他元素一致的盒子模型 */
  padding: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: inherit;
  background-color: rgb(50,50,60,1);
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}