<div class="layui-form-item upload_mode mode_Alibaba" {if condition="$config['upload']['mode'] neq 'Alibaba'"}style="display:none;" {/if}>
<label class="layui-form-label">Alibaba Tu Bed:</label>
<div class="layui-input-block">
    <a href="http://alibaba.com" target="_blank" class="layui-btn layui-btn-primary">No application required at this time</a>
</div>
</div>
<div class="layui-form-item upload_mode mode_Alibaba" {if condition="$config['upload']['mode'] neq 'Alibaba'"}style="display:none;" {/if}>

</div>